<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your scores - pseudoJACKPOT</title>

    <!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/site.webmanifest">

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/scores-page.css">
</head>
<body>

    <header>
        <a href="./" class="exit">exit</a>
    </header>

    <div id="scores-page">
        <div class="session-data legend"> 
            <p>lp</p>
            <p>date</p>
            <p>start time</p>
            <p>stop time</p>
            <p>total coins</p>
            <p>total win</p>
        </div>

        {{#each sessions as |session i|}}
        <div class="session" id="{{session.id}}">

            <div class="session-data">
                <p>{{i}}</p>
                <p>{{session.date}}</p>
                <p>{{session.start}}</p>
                <p>{{session.stop}}</p>
                <p>{{session.totalWin}}</p>
            </div>

            <div class="spin-container">
                <div class="spin legend">
                    <p>lp</p>
                    <p>bet</p>
                    <p>score</p>
                </div>
            </div>

            <div class="graph">
                <canvas id="graph-{{session.id}}"></canvas>
                <div class="graph-bar"></div>
            </div>

        </div>
        {{/each}}
        
    </div>

    <script type="module" src="js/scoresPage.js"></script>

</body>
</html>