<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your scores - pseudoJACKPOT</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/scores-page.css">
</head>
<body>

    <header>
        <a href="./" class="exit">exit</a>
    </header>

    <div id="scores-page">
        {{#each sessions as |session|}}
        <div class="session" id="{{session.[0].session_id}}">

            <div class="spins">

                <div class="spin-legend"><p>Lp</p><p>bet</p><p>score</p></div>

                {{#each session as |spin i|}}
                <div class="spin {{spin.color}}" id="{{spin.id}}">
                    <div class="lp">{{i}}</div>
                    <div class="bet">{{spin.bet}}</div>
                    <div class="score">{{spin.score}}</div>
                    <div class="time">{{spin.time}}</div>
                </div>
                {{/each}}

            </div>


        </div>
        {{/each}}
    </div>


<script>
    
</script>
</body>
</html>